.container{
    margin-bottom: 100px;
}
.chocolate-bg{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.text{
    color: orange;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #fa770c;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#fca129 0%,#b4570c 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
background-image: linear-gradient(to bottom,#ff5898 0%,#ff136f 100%);
color: #fff;
border: none;
border-radius: 8px;
padding: 9px 25px;
cursor: pointer;


background-image: linear-gradient(to bottom,#fca129 0%,#fa770c 100%);
